extends layout

block header    
    link(
        rel="stylesheet",
        href="/stylesheets/chat.css")
    link(
        rel="stylesheet"
        href="font-awesome-4.6.3/css/font-awesome.min.css"
    )


block content
    .container
        #bubbles.chat
        #inputPanel
            .form-group
                label(for="content" id="lLabel") Say something:
                textarea(class="form-control" rows="5" id="inputContent" style="resize: none")
                button(type="button" class="btn btn-default" id="btLogout") Log out
                button(type="button" class="btn btn-primary" id="btPost" style="float: right") Post
                button(type="button" class="btn btn-primary" style="float: right" id="btMicro")
                    <i class="fa fa-microphone" id="glyphMicro"></i>
    div(style='display:none')
        #bubbleme.bubbleCover
            #avatarContainer
                canvas(id="avatar")
            .bubble.me
                span(class='bubbleAuthor')
                span(class='bubbleDate')
                hr
                .bubbleContent
        #bubbleyou.bubbleCover
            #avatarContainer
                canvas(id="avatar")
            .bubble.you
                span(class='bubbleAuthor')
                span(class='bubbleDate')
                hr
                .bubbleContent
    
    +alert('alert', 'Please log in first.')

    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/md5.min.js')
    script(src='/javascripts/jdenticon-1.3.2.min.js')
    script.
        var recognition = new webkitSpeechRecognition();
        recognition.continuous = true;
        recognition.interimResults = true;
        recognition.onresult = function(event) { 
          console.log(event) 
        }
        recognition.start();
    
        var username = utils.getCookie('username');
        var token = utils.getCookie('token');

        if(!token) {
            window.location.href = "/login";
        }

        $("#lLabel").html('Hi ' + username + ", say something:");

        function newMessage(msg) {
            var bubble;
            // if(Math.random() < 0.5)
            if(msg.username == username)
                bubble = $('#bubbleme').clone();
            else
                bubble = $('#bubbleyou').clone();
            bubble.find('.bubbleContent').html(msg.content);
            bubble.find('.bubbleAuthor').html(msg.username);
            bubble.find('.bubbleDate').html(msg.time);
            $(".chat").append(bubble);
            bubble.find('#avatar')
                .attr({"width": '40', "heigth": '40'})
                .jdenticon(md5(msg.username));
            var bubbles = document.getElementById('bubbles');
            bubbles.scrollTop = bubbles.scrollHeight;
            // $('#bubbles').scrollTop($('#bubbles').scrollHeight);
        }

        // Dealing with realtime connection
        var content = document.getElementById("content");
        var socket = io.connect('http://localhost:3000');
        socket.on('message', function (data) {
            newMessage(data);
        });

        $('#alert').on('hidden.bs.modal', function () {
            window.location.href = '/login';
        });

        // Page logic control
        function logout() {
            utils.setCookie('token', '', 100);
            window.location.href = '/login';
        }

        function postMessage(s) {
            var token = utils.getCookie('token');
            var content = s;
            if(s.length == 0)
                return;
            $.ajax({
                url: '/api/postMsg',
                method: 'POST',
                data: {
                    token: token,
                    content: content
                },
                success: function(data) {
                    if(data.error) {
                        // the user is not logged in
                        $('#alert').modal({
                            backdrop: true
                        });
                    } else {
                        // new message should from the server dynamically
                        // newMessage(content);
                    }
                }
            })
        }

        function getMessage() {
            $.ajax({
                url: '/api/getMsg',
                method: 'GET',
                success: function(data) {
                    for(var i = 0; i < data.length; ++i) {
                        console.log(data[i]);
                        newMessage(data[i]);
                    }
                }
            });
        }

        getMessage();

        function sendMessage() {
            postMessage($('#inputContent').val());
            $('#inputContent').val('');
        }

        $('#inputContent').keydown(function (e) {
            if (e.ctrlKey && e.keyCode == 13) {
                // Ctrl-Enter pressed
                sendMessage();
            }
        });

        $('#btPost').click(sendMessage);
        $('#btLogout').click(function() {
            logout();
        });

        if (!('webkitSpeechRecognition' in window))
            $('#btMicro').addClass('disabled');
        else {
            var recognition = new webkitSpeechRecognition();
            recognition.continuous = true;
            recognition.interimResults = true;
            recognition.lang = "en-US";
            recognition.onresult = function(event) { 
                console.log(event);
                var txt = event.results[0][0].transcript;
                // var txt = "aaa";
                $("#inputContent").val(txt);
            }
            var recording = false;
            
            $('#btMicro').click(function() {
                if(!recording) {
                    recording = true;
                    $("#glyphMicro").removeClass("fa-microphone");
                    $("#glyphMicro").addClass("fa-microphone-slash");
                    recognition.start();
                } else {
                    recording = false;
                    $("#glyphMicro").addClass("fa-microphone");
                    $("#glyphMicro").removeClass("fa-microphone-slash");
                    recognition.stop();
                }
            });
        }
        