.chat {
    max-width: 800px;
    min-width: 470px;
    overflow-y: scroll;
    height: calc(100% - 200px);
    margin: auto;
}

#inputPanel {
    max-width: 800px;
    min-width: 470px;
    overflow-y: hidden;
    height: 200px;
    margin: auto;
}


.container {
    height: 100%;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

.bubbleCover {
    margin: 10px 10px;
    overflow: auto;
}

.bubble{
    background-color: #F2F2F2;
    border-radius: 5px;
    box-shadow: 0 0 6px #B2B2B2;
    display: inline-block;
    padding: 10px 18px;
    position: relative;
    vertical-align: top;
    max-width: 70%;
}

.bubble::before {
    background-color: #F2F2F2;
    content: "\00a0";
    display: block;
    height: 16px;
    position: absolute;
    top: 11px;
    transform:             rotate( 29deg ) skew( -35deg );
        -moz-transform:    rotate( 29deg ) skew( -35deg );
        -ms-transform:     rotate( 29deg ) skew( -35deg );
        -o-transform:      rotate( 29deg ) skew( -35deg );
        -webkit-transform: rotate( 29deg ) skew( -35deg );
    width:  20px;
}

.you {
    float: left;   
    margin: 5px 45px 5px 20px;         
}

.you::before {
    box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );
    left: -9px;           
}

.me {
    margin: 5px 20px 5px 45px;       
    float: right;  
}

.me::before {
    box-shadow: 2px -2px 2px 0 rgba( 178, 178, 178, .4 );
    right: -9px;    
}

#bubbleyou #avatarContainer {
    float: left;
    width: 40px;
    height: 40px;
    overflow: hidden;
}

#bubbleyou #username {
    margin-left: 40px;
}

#bubbleme #avatarContainer {
    float: right;
    width: 40px;
    height: 40px;
    overflow: hidden;
}

#bubbleme #username {
    text-align: right;
    margin-right: 40px;
}

.bubbleAuthor {
    color: #111;
}

.bubbleDate {
    margin-left: 2em;
}

.bubble hr {
    border-top: 1px solid #cccccc;
    margin: 2px 0px;
}

#inputPanel button {
    margin: 5px;
}